<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Producto</h1>
    <form action="/edit/<%= productoEncontrado.id %>" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= productoEncontrado.nombre %>">
        <br>
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio" value="<%= productoEncontrado.precio %>">
        <br>
        <label for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion" value="<%= productoEncontrado.descripcion %>">
        <br>
        <label for="marca">Marca</label>
        <input type="text" name="marca" id="marca" value="<%= productoEncontrado.marca %>">
        <br>
        <label for="stock">Stock</label>
        <input type="text" name="stock" id="stock" value="<%= productoEncontrado.stock %>">
        <br>
        <button type="submit">Enviar</button>
      </form>
</body>
</html>